#footer {
  height: 60px;
  background-color: #f5f5f5;
  & > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

code {
  font-size: 80%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  & > .container {
    padding: 60px 15px 0;
  }
}

html,body {
  height: 100%;
}

.container {
  .credit {
    margin: 20px 0;
  }
}

// some ng-animations
.repeat-item.ng-enter,.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-leave, .repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.repeat-item.ng-enter, .repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}

// tasks list
.done {
  text-decoration: line-through;
  color: #808080;
}
