<div class="page-header">
  <h2>Product form</h2>
</div>

<form name="productForm" class="form-horizontal"
      my-submit="form.save(product)" novalidate="true">

  <div class="form-group" my-error-for="name">
    <label for="product-name" class="col-lg-2 control-label">Name</label>

    <div class="col-lg-6">
      <input id="product-name" type="text" class="form-control"
             placeholder="Enter name" autocomplete="off"
             name="name" ng-model="product.name"
             ng-required="true" ng-minlength="3"/>

      <div my-messages="name">
        <span class="help-block" ng-message="required">Name is required</span>
        <span class="help-block" ng-message="minlength">Name is too short</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-2"></div>

    <div class="col-lg-2" my-error-for="price">
      <label for="product-price" class="control-label">Price</label>

      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input id="product-price" type="number" class="form-control" placeholder="Enter price"
               name="price" ng-model="product.price"
               ng-required="true" min="0.01"/>
      </div>

      <div my-messages="price">
        <span class="help-block" ng-message="required">Price is required</span>
        <span class="help-block" ng-message="min">Minimum price is $0.01</span>
      </div>
    </div>

    <div class="col-lg-2" my-error-for="discount">
      <label for="product-discount" class="control-label">Discount</label>

      <div class="input-group">
        <input id="product-discount" type="number" class="form-control" placeholder="Enter discount"
               name="discount" ng-model="product.discount" min="0" max="100"/>
        <span class="input-group-addon">%</span>
      </div>

      <div my-messages="discount">
        <span class="help-block" ng-message="min">Minimum value is 0</span>
        <span class="help-block" ng-message="max">Maximum value is 100</span>
      </div>
    </div>

    <div class="col-lg-2" ng-show="product.hasDiscount()">
      <label class="control-label">Price with discount</label>

      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" disabled="disabled" class="form-control"
               value="{{product.priceWithDiscount() | currency:''}}"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="product-description" class="col-lg-2 control-label">Description</label>

    <div class="col-lg-6">
      <textarea name="description" ng-model="product.description"
                class="form-control"
                id="product-description" rows="5"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-6">
      <button type="submit" class="btn btn-success">
        <span ng-hide="product.persisted()">
          <i class="fa fa-plus"></i> Create
        </span>
        <span ng-show="product.persisted()">
          <i class="fa fa-save"></i> Update
        </span>
      </button>

      <a href="" class="btn btn-warning" ng-click="form.reset()">
        <i class="fa fa-eraser"></i> Reset
      </a>

      <a href="" class="btn btn-danger"
         ng-show="product.persisted()"
         ng-click="form.delete()"><i class="fa fa-trash-o"></i> Delete</a>

      <a ui-sref="products.list" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
