<div class="page-header">
  <h1>Products list</h1>
</div>
<p class="lead">This is a simple list of products</p>

<a href="#/products/create" class="btn btn-success">
  <i class="icon-plus-sign"></i> Create
</a>

<table class="table table-hoover products" ng-show="index.products.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Actions</th>
      <th>Name</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Description</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in index.products | orderBy:'priceWithDiscount()'"
        ng-class="{'success': product.hasDiscount()}">
      <td>{{product.id}}</td>
      <td style="width: 190px;">
        <a class="btn btn-info btn-xs" href="#/products/{{product.id}}">
          <i class="icon-search"></i> Show
        </a>

        <a class="btn btn-success btn-xs" href="#/products/{{product.id}}/edit">
          <i class="icon-edit"></i> Edit
        </a>

        <button class="btn btn-danger btn-xs" ng-click="index.deleteProduct(product)">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
      <td>{{product.name}}</td>
      <td>{{product.priceWithDiscount() | currency}}</td>
      <td>
        <span ng-show="product.hasDiscount()">{{product.discount}}%</span>
        <span ng-hide="product.hasDiscount()">---</span>
      </td>
      <td style="width: 50%">{{product.description}}</td>
      <td style="width: 120px">{{product.createdAt | date}}</td>
    </tr>
  </tbody>
</table>
