<div class="page-header">
  <h2>Product "{{product.name}}" details</h2>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ng-class="{active: $state.includes('products.show.info')}">
      <a ui-sref="products.show.info">Info</a>
    </li>

    <li ng-class="{active: $state.includes('products.show.details')}">
      <a ui-sref="products.show.details">Details</a>
    </li>
  </ul>

  <div class="tab-content" ui-view></div>
</div>

<hr/>

<div class="col-lg-offset-2">
  <a ui-sref="products.edit({id: product.id})" class="btn btn-success">
    <i class="icon-edit"></i> Edit
  </a>

  <button ng-click="show.deleteProduct()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
</div>
