<div class="page-header">
  <h2>Product "{{product.name}}" details</h2>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ng-class="{active: $state.includes('products.show.info')}">
      <a ui-sref="products.show.info">Info</a>
    </li>

    <li ng-class="{active: $state.includes('products.show.details')}">
      <a ui-sref="products.show.details">Details</a>
    </li>
  </ul>

  <div class="tab-content" ng-switch="$state.current.data.activeTab">
    <div ng-switch-when="info">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{product.name}}</dd>

        <dt>Price with discount</dt>
        <dd>{{product.priceWithDiscount() | currency}}</dd>

        <dt>Description</dt>
        <dd>{{product.description}}</dd>
      </dl>
    </div>

    <div ng-switch-when="details">
      <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{product.id}}</dd>

        <dt>Headline</dt>
        <dd>{{product.headline}}</dd>

        <dt>Manufacturer</dt>
        <dd>{{product.manufacturer}}</dd>

        <dt>Created At</dt>
        <dd>{{product.createdAt | date}}</dd>
      </dl>
    </div>
  </div>
</div>

<hr/>

<div class="col-lg-offset-2">
  <a ui-sref="products.edit({id: product.id})" class="btn btn-success">
    <i class="fa fa-edit"></i> Edit
  </a>

  <button ng-click="show.deleteProduct()" class="btn btn-danger">
    <i class="fa fa-trash-o"></i> Delete
  </button>
</div>
